/*beginning of CSS file*/
body {
 background-color: whitesmoke; width: 60%; margin: 0 auto;
}

header {
 text-align: center; 
} 

section {
 clear: both; border-style: solid; border-width: 1px; border-color: lightgrey;
}

img {
 float: left; width: 10%; padding-top: 10px;
}

article {
 float: center; width: 89%;
}

h2, h3 {
 text-align: center;
}

h4, p {
 text-align: left;
 padding: 0px 5px 5px 80px; /* Rule of TRBLE Top Right Bottom Left */
}


footer {
  text-align: center;
}